<!DOCTYPE html>
<html>
<head>
  <title>CellDomoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <%#= render_cell :product, :show %>
  <%#= render_cell :product, :categoryShow %>
</div>
<%= yield %>
</body>
</html>
